*{ margin: 0; padding: 0; font-family: 'Manrope', sans-serif; }
:root{
    --default-border: 1px solid rgba(0,0,0,0.2);
    --default-border-radius: 20px;

    /* --default-main-color: #CCE7FF; */
    --default-main-color: #f88ba3;
    --default-secondary-color: #282828;
    --default-asssiting-color-1: #0496ff;
    --default-asssiting-color-2: #ffbd00;
    --default-opacity-color: rgba(0,0,0,0.25);
    --default-loading-color: rgba(184, 184, 184, 0.521);
    --default-loading-lower-color: rgba(126, 124, 124, 0.521);

    --default-emp-font-family: "Roboto Slab", sans-serif;
}
body{
    position: relative;
}
.container{ max-width: 1200px; margin: auto; }
/* *<----------------------------HEADER----------------------------> */
header { 
    width: 100%;
    position: fixed;
    padding: 0 18px;

    border-bottom: var(--default-border);
    background-color: white;

    top: 0;
    z-index: 3;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.header-logo {
    width: auto;
    height: 35px;

    border-radius: var(--default-border-radius);

    object-fit: cover;
}
.logo-replacement{
    height: 33px;
    width: 250px;

    border-radius: var(--default-border-radius);
    background-color: var(--default-secondary-color);
}
.header-buttons{
    display: flex;
    justify-content: center;
}
.header-buttons a, .header-buttons button {
    margin-right: 20px;
    padding: 6px;

    border: none;
    background-color: transparent;

    text-decoration: none;
    cursor: pointer;
    color: var(--default-secondary-color);
    font-size: 0.9rem;
}
.header-buttons .login{
    width: 56px;
    /* height: 19px; */
    padding: 6px 18px;

    border-radius: var(--default-border-radius);
    background-color: var(--default-secondary-color);
    overflow: hidden;

    color: white;
    text-align: center;
}
.header-buttons .login.loggedIn{
    padding: 0;
    background-color: white;
}
.header-buttons .login.loggedIn img{
    width: 30px;
    height: 30px;

    object-fit: cover;
    border-radius: 50%;
}
/* 
    *<============================Authentication============================> 
*/
/* body.authentication{
    background-color: rgba(0,0,0,0.8);
} */
.authentication{
    transition: .3s;
    height: 0;
    overflow: hidden;
}
.authentication.active{
    height: 100vh;
}
.authentication .container .inner{
    display: flex;
    margin: auto;
    /* padding-top: 60px; */
    width: 400px;
    z-index: 10;

    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    /* box-shadow: 0px 2px 4px 2px #00000040; */

    text-align: center;
}
.authentication .container .auth-container{
    min-width: 400px;
    margin: auto;
    padding: 60px 0;

    position: relative;

    transition: .3s;
}
#register-container{
    left: 100%;
}
#register-container.active{
    left: -100%;
}
#login-container{
    left: 100%;
}
#login-container.active{
    left: 0;
}
.authentication .container .auth-container .otherAuth{
    text-decoration: underline;
    cursor: pointer;
}
.authentication .container .inner h2{
    margin-bottom: 40px;
}
.authentication .container .inner form{
    text-align: left;
}
.authentication .container .inner label{
    display: block;
    margin-bottom: 5px;
}
.authentication .container .inner input{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding: 0px 25px;
    display: block;

    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #BDB7B7;
    /* border: none; */
    border-radius: 25px;
    box-sizing: border-box;

    outline: none;
    font-size: 16px;
}
.authentication .container .inner input[type="submit"]{
    background-color: #29BFFF;
    border: none;

    cursor: pointer;
}
.authentication .container .inner input.google[type="submit"]{
    background-color: var(--default-main-color);
    color: white;
    font-weight: 500;
}
.authentication .container .inner input.mail[type="submit"]{
    background-color: var(--default-asssiting-color-2);
    color: white;
    font-weight: 500;
}
.authentication .container .inner input.facebook[type="submit"]{
    background-color: var(--default-asssiting-color-1);
    color: white;
    font-weight: 500;
}
.authentication .container .inner .or{
    display: flex;
    flex-direction: row;
}
/* 
    *<============================SEARCH============================> 
*/
.top-search{
    transition: .3s;
    height: 0;
    overflow: hidden;
}
.top-search.active{
    height: max-content;
}
.top-search .container{
    display: flex;
    flex-direction: column;

    padding: 0;
}
.top-search .top-search-input{
    width: 100%;
    margin-bottom: 20px;
}
.top-search .top-search-input input{
    position: relative;
    padding: 10px 15px;
    width: 70%;

    border: var(--default-border);

    left: calc(25% - 15px);

    outline: none;
}
.top-search .top-search-body{
    display: flex;
    flex-direction: row;

    width: 100%;
}
.top-search .top-search-body .top-search-sider{
    width: 25%;

    border-right: var(--default-border);
}
.top-search .top-search-body .top-search-sider ul {
    list-style: none;
}
.top-search .top-search-body .top-search-sider ul li {
    padding: 5px 20px;
    
    transition: .3s;

    font-size: 1rem;

    cursor: pointer;
}
.top-search .top-search-body .top-search-sider ul li i {
    width: 30px;

    font-size: 0.95rem;
}
.top-search .top-search-body .top-search-sider ul li:hover {
    background-color: rgba(0,0,0,0.2);
}
.top-search .top-search-body .top-search-sider ul li.active {
    background-color: var(--default-opacity-color);
}

.top-search .top-search-body .top-search-found{
    width: 75%;
    padding-left: 20px;
    padding-right: 40px;
}
.top-search .top-search-body .top-search-found h3{
    margin-bottom: 10px;
}
.top-search .top-search-body .top-search-found > article{
    margin-bottom: 10px;
}
.top-search .top-search-body .top-search-found ul{
    list-style: none;
}
.top-search .top-search-body .top-search-found ul li{
    margin-bottom: 10px;
    padding: 3px 5px;

    font-size: 0.8rem;

    transition: .3s;
    cursor: pointer;
}
.top-search .top-search-body .top-search-found ul li:hover{
    background-color: rgba(0,0,0,0.2);
}
.top-search .top-search-body .top-search-found ul li .tag{
    display: inline-block;
    padding: 3px 5px;

    border: var(--default-border);
    border-radius: 5px;
}
.top-search .top-search-body .top-search-found ul li .description{
    color: var(--default-secondary-color);
}
/* 
    *<----------------------------MAIN----------------------------> 
*/
.loader{
    animation: spin 2s linear infinite;
}
/* 
    *<============================JUMBOTRON============================> 
*/
main{
    margin-top: 66px;
}
.intro {
    border-bottom: var(--default-border);
    background-color: var(--default-main-color);
}
.intro.about {
    border-bottom: var(--default-border);
    background-color: var(--default-asssiting-color-2);
}
.intro .container{
    padding: 78px 60px;
    position: relative;
}
.intro-text {
    width: 60%;

    z-index: 1;
}
.intro-text h1{
    width: max-content;
    position: relative;
    z-index: 2;
    
    line-height: 98.91px;

    font-size: 4rem;
    font-weight: 400;
    font-family: var(--default-emp-font-family);
}
.intro-text h1:nth-of-type(1){
    left: 40px;
}
.intro-text h1:nth-of-type(2){
    left: 160px;
}
.intro-text h1:nth-of-type(3){
    left: 280px;
}
.intro-text button{
    position: relative;
    margin-top: 36px;
    padding: 10px 40px;

    background-color: white;
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    left: 20%;

    font-size: 1.2rem;
    transition: .3s;
    z-index: 2;
}
.intro-text button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 2px 1px 1px var(--default-secondary-color);
}
.intro-img {
    display: flex;
    /* width: 20%; */
    height: 100%;
    justify-content: center;
    align-self: center;
}
.intro-img img {
    width: 38vmin;
    position: absolute;

    top: 50%;
    right: 10%;
    transform: translateY(-50%);

    object-fit: cover;
}
.intro-img img.about-main-img{
    max-height: 30vmin;
}
/* .body .container .body{
    display: grid;
    grid-template-areas: "main aside";
    grid-template-columns: 66% 33%;
} */
/* 
    *<============================CAROUSEL============================> 
*/
div.carousel-news{
    border-bottom: var(--default-border);
}
section.carousel-news{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    padding: 0 20px;
}
.carousel-news .carousel-button{
    height: 30px;
    width: 30px;

    border-radius: 50%;
    border: 1px solid black;
    background-color: white;

    cursor: pointer;
}
.carousel-news .carousel-button.disabled{
    opacity: 0.3;
}
.carousel-news-body {
    width: 90%;
    display: flex;
    /* flex-direction: row; */
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 20px;

    transition: .1s;

    scroll-behavior: smooth;
}
.carousel-news-body::-webkit-scrollbar {
    display: none;
}
.carousel-news-body a{
    display: block;
    margin-right: 10px;
}
.carousel-news-body a{
    text-decoration: none;
}
.carousel-news-single {
    height: max-content;
    position: relative;
}
.carousel-news-single:hover > .carousel-news-single-over{
    background-color: #000000F2;
}
.carousel-news-single img {
    width: 290px;
    height: 230px;
    object-fit: cover;
}
.carousel-news-single-over {
    height: 30%;
    width: calc(100% - 16px);
    position: absolute;
    padding: 8px;
    
    background-color: #000000B2;
    
    bottom: 5px;
    
    color: white;
    transition: .3s;
}
/* 
    *<============================MAIN_BODY============================> 
*/
.main-news-body {
    /* width: 70%; */
}
.viewing-user {
    display: flex;
    flex-direction: row;
}
.viewing-user a{
    display: block;
    width: 50%;
    padding: 12px 0;

    border-bottom: var(--default-border);

    text-align: center;
    text-decoration: none;

    color: black;
}
.viewing-user a.active{
    background-color: var(--default-main-color);
    border: none;
}
.viewing-user a:not(.active){
    opacity: 0.4;
}
/* 
    *<============================SIDEBAR============================> 
*/
.main-news-aside {
    width: 30%;
    height: calc(100vh - 60px);
    padding: 30px 20px;
    position: sticky;
    display: block;
    float: right;

    top: 60px;

    border-left: var(--default-border);
    box-sizing: border-box;
}
.main-news-aside h4{
    font-size: 1.1rem;
}
/* 
    *<============================NEWS_SINGLE_ITEM============================> 
*/
.news-single {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.news-body {
    padding-right: 1.2rem;
}
.news-author{
    /* padding-right: 50px; */
    margin-bottom: 1rem;
}
.news-author a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #282828;
}
.news-author img{
    width: 25px;
    height: 25px;
    margin-right: 10px;

    border-radius: 50%;
    overflow: hidden;

    object-fit: cover;
}
.author-name {
    font-size: 0.8rem;
    color: rgba(0,0,0,0.5);
}
.news-text {
}
.news-title {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}
.news-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.3rem;

    color: rgba(0,0,0,0.3);
    font-size: 0.9rem;
    font-weight: 300;
}
.news-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-info-items {
    display: inline;
    margin-right: 15px;

    font-size: 0.8rem;
    padding: 2px 4px;
    border-radius: 5px;
}
/* .news-info-items:nth-child(1) {
    background-color: var(--default-asssiting-color-1);
}
.news-info-items:nth-child(2) {
    background-color: var(--default-main-color);
}
.news-info-items:nth-child(3) {
    background-color: var(--default-asssiting-color-2);
} */
.news-info-items i {
    width: 20px; height: 20px; 
    border-radius: 50%; display: inline-flex;
    justify-content: center; align-items: center;
    
}
.news-info-items:nth-child(1) i {
    background-color: var(--default-asssiting-color-1);
}
.news-info-items:nth-child(2) i {
    background-color: var(--default-main-color);
}
.news-info-items:nth-child(3) i {
    background-color: var(--default-asssiting-color-2);
}
.news-info-items i {
    margin-right: 5px;
}
.news-info-items i:nth-child(1) {
    /* background-color: var(--default-main-color); */
}
.news-actions {
    float: right;
}
.save {
    padding: 4px 8px;

    border: none;
    border-radius: 50%;
    background-color: white;

    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}
.save:hover{
    background-color: rgb(233, 233, 233);
}
.news-img{
    width: 200px;
}
.news-img img {
    width: 200px;
    height: 160px;
    object-fit: cover;
}
/* 
    *<============================SIDEBAR_TAGS============================> 
*/
.topics{
    margin-top: 10px;
    margin-bottom: 20px;
}
.topics .topic-tag{
    display: inline-block;
    padding: 5px 16px;
    margin-bottom: 8px;
    margin-right: 4px;

    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);

    font-size: 0.9rem;
    cursor: pointer;
}
/* 
    *<============================SIDEBAR_AUTHOURS============================> 
*/
.authors{
    margin-top: 10px;
    margin-bottom: 20px;
}
.authors .author-single{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.authors .author-single h5{
    font-size: 1rem;
}
.authors .author-single span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.3rem;

    font-size: 0.8rem;
    color: rgb(140, 139, 139);
}
.authors .author-single .author-info{
    width: calc(100% - 125px);
}
.authors .author-single img{
    width: 50px;
    height: 50px;
    margin-right: 10px;

    border-radius: 50%;

    object-fit: cover;
}
.authors .author-single button{
    margin-right: 10px;
    padding: 3px 8px;

    border: none;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
}
/* 
    *<----------------------------FOOTER----------------------------> 
*/
footer{
    margin-top: 10px;
    
}
footer a{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;

    color: #555;
    font-size: 0.85rem;
}
footer.about{
    min-height: 150px;

    border-top: var(--default-border);
}
footer.about .container{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
footer.about .container .replacement{
    width: 50%;
    height: 100px;
    margin-right: 20px;

    background-color: var(--default-secondary-color);
}
/* 
    *<----------------------------USER_SINGLE----------------------------> 
*/
.user{
    padding: 20px 30px;

    background-color: var(--default-main-color);
}
.user .container{
}
.user .container .user-intro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;

    background-color: white;
}
.user .container .user-intro img{
    width: 20vmin;
    height: 20vmin;

    border-radius: 50%;

    object-fit: cover;
}
.user .container .user-description{
    margin-left: 20px;
    max-width: 500px;
}
.user .container .user-description h3{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}
.user-banner{
    border-bottom: var(--default-border);
}
.user-banner .container .user-more{
    margin: 20px;
}
/*
    *News section
*/
.main-news-section {
    width: 70%;
    display: inline-block;
    position: relative;
    align-self: flex-start;
    justify-content: flex-start;
    /* justify-content: space-between; */
    flex-direction: row; 
}
/* 
    *<----------------------------ABOUT----------------------------> 
*/
.main-about h4{
    text-align: center;
    font-size: 1.2rem;

    margin-top: 30px;
    /* margin-bottom: 5px; */
}
.main-about .about-goals{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.main-about .about-goals img{
    width: 30vmin;
    height: 24vmin;
    margin-right: 10px;

    object-fit: cover;
}
.main-about .about-description{
    width: 85%;
    margin: 10px auto;

    text-align: center;
}
.about-banner{
    height: 30vmin;
    width: 100%;

    border-top: var(--default-border);
    border-bottom: var(--default-border);
    background-color: var(--default-asssiting-color-1);
}
.main-about .about-users{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 20px;
}
.main-about .about-users .about-user-single{
    margin-left: 20px;

    text-align: center;
}
.main-about .about-users .about-user-single img{
    width: 24vmin;
    height: 24vmin;
    margin-bottom: 10px;

    object-fit: cover;
    border-radius: 50%;
}
.main-about .about-users .about-user-single span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.3rem;
}

/* 
    *<----------------------------LOADER----------------------------> 
*/
.loader-main{
    display: flex;
    flex-direction: row;

    padding: 20px;
}
.loader-main.tag{
    padding: 0px;
}
.loader-main-left{
    width: calc(75% - 20px);
    margin-right: 20px;
}
.loader-main.userSider .loader-main-left{
    width: 25%;
}
.loader-main.userSider .loader-main-right{
    width: calc(75% - 15px);
    margin-right: 15px;
}
.loader-main-right{
    width: 25%;
}
.loader-main-small-line{
    width: 30%;
    height: 20px;
    margin-bottom: 1rem;

    background-color: var(--default-loading-color);
}
.loader-main-line{
    width: 100%;
    height: 30px;
    margin-bottom: 1rem;

    background-color: var(--default-loading-color);
}
.loader-main-description{
    
}
.loader-main-description .loader-main-small-line{
    display: inline-block;
    width: 15%;
    height: 20px;
    margin-bottom: 0.5rem;
    margin-right: 15px;

    background-color: var(--default-loading-color);
}
.loader-main-description .loader-main-line{
    width: 100%;
    height: 20px;
    margin-bottom: 0.5rem;

    background-color: var(--default-loading-color);
}
.loader-main.carousel .loader-main-img{
    width: 290px;
    height: 230px;
}
.loader-main-img{
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;

    background-color: var(--default-loading-color);
}

/* 
    *<----------------------------RESPONSIVE----------------------------> 
*/
@media(max-width: 1200px){
    .top-search .top-search-input input{
        width: 50vw;
        padding: 5px 8px;
    }
}
@media(max-width: 976px){
    html{
        font-size: 14px;
    }
    .intro-text h1{
        font-size: 4rem;
        line-height: 77.91px;
    }
    .intro-img img{
        width: 45vmin;
    }
}
@media(max-width: 768px){
    .main-news-section{
        width: 100%;
    }
    .main-news-aside{
        width: 100%;
        float: unset;
        height: max-content;
    }
    .user .container .user-description{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
@media(max-width: 712px){
    .intro-text h1{
        left: 5vmin;
        font-size: 6vmin;
        line-height: 7vmin;
    }
    .intro-text h1:nth-of-type(1){
        left: 5vmin;
    }
    .intro-text h1:nth-of-type(2){
        left: 15vmin;
    }
    .intro-text h1:nth-of-type(3){
        left: 25vmin;
    }
    .intro .container{
        padding: 7vmin 5vmin;
    }
    .intro-text button{
        margin-top: 20px;
        padding: 2vmin 5vmin;
    }
    .carousel-news-single img{
        width: 200px;
        height: 160px;
    }
    /* .top-search .top-search-input{
        margin-bottom: 0;
    } */
    .top-search .top-search-body{
        height: calc(100vh - 103px);
    }
    .top-search .top-search-body .top-search-sider ul{
        display: flex;
        height: calc(100vh - 103px);

        flex-direction: column;
        justify-content: center;
    }
    .top-search .top-search-body .top-search-sider ul li{
        margin-bottom: 40px;
        
        text-align: center;
    }
    .top-search .top-search-body .top-search-sider ul li.active{
        background-color: white;
    }
    .top-search .top-search-body .top-search-sider ul li i{
        font-size: 4vw;
        width: max-content;
    }
    .top-search .top-search-body .top-search-sider ul li span{
        display: none;
    }
}
@media(max-width: 600px){
    header .container{
        padding: 10px;
    }
    main{
        margin-top: 54px;
    }
    .logo-replacement{
        width: 33px;
    }
    .news-img{
        width: unset;
        display: flex;
        align-items: center;
    }
    .news-img img{
        width: 150px !important;
        height: 100px !important;
    }
    .news-description{
        display: none;
    }
    /* .news-author {
        width: 35px;
    } */
    .authentication .container .auth-container{
        min-width: 80%;
        padding: 30px;
    }
}
@media(max-width: 500px) {
    .news-info-items{
        font-size: 9px;
    }
    .news-actions{
        display: none;
    }
    .news-info-items{
        margin-right: 5px;
    }
    .news-info-items i{
        margin-right: 2px;
    }
    .top-search .top-search-body .top-search-sider ul li i{
        font-size: 6vw;
        width: max-content;
    }
}

/* 
    *<----------------------------ANIMATIONS----------------------------> 
*/
.swirl {
    animation-name: rotateIn;
    animation-duration: 0.2s;
}
@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
} 
.closeIn {
    overflow: hidden;
    animation-name: closeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}
@keyframes closeIn {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
} 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
.blink {
    animation-name: skeletion-load;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes skeletion-load {
    0% { background-color: var(--default-loading-color); }
    50% { background-color: var(--default-loading-lower-color); }
    100% { background-color: var(--default-loading-color); }
}