*{ margin: 0; padding: 0; font-family: 'Manrope', sans-serif; }
:root{
    --default-border: 1px solid rgba(0,0,0,0.2);
    --default-border-radius: 20px;

    --default-main-color: #CCE7FF;
    --default-secondary-color: #282828;

    --default-emp-font-family: "Roboto Slab", sans-serif;
}
body{
    position: relative;
}
.container{ max-width: 1400px; margin: auto; }
header { 
    width: 100%;
    position: fixed;

    border-bottom: var(--default-border);
    background-color: white;

    top: 0;
    z-index: 3;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.header-logo {
    width: auto;
    height: 35px;

    border-radius: var(--default-border-radius);

    object-fit: cover;
}
.logo-replacement{
    height: 33px;
    width: 250px;

    border-radius: var(--default-border-radius);
    background-color: var(--default-secondary-color);
}
.header-buttons a, .header-buttons button {
    margin-right: 20px;

    border: none;
    background-color: transparent;

    text-decoration: none;
    cursor: pointer;
    color: var(--default-secondary-color);
    font-size: 16px;
}
.header-buttons .login{
    padding: 6px 18px;

    border-radius: var(--default-border-radius);
    background-color: var(--default-secondary-color);

    color: white;
}
main{
    margin-top: 66px;
}
/*
    *Jumbotron - main page
*/
.intro {
    border-bottom: var(--default-border);
    background-color: var(--default-main-color);
}
.intro .container{
    padding: 78px 60px;
    position: relative;
}
.intro-text {
    width: 60%;

    z-index: 1;
}
.intro-text h1{
    position: relative;
    z-index: 2;
    
    line-height: 98.91px;

    font-size: 5rem;
    font-weight: 400;
    font-family: var(--default-emp-font-family);
}
.intro-text h1:nth-of-type(1){
    left: 40px;
}
.intro-text h1:nth-of-type(2){
    left: 160px;
}
.intro-text h1:nth-of-type(3){
    left: 280px;
}
.intro-text button{
    position: relative;
    margin-top: 36px;
    padding: 10px 40px;

    background-color: white;
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    left: 20%;

    font-size: 20px;
    transition: .3s;
}
.intro-text button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 2px 1px 1px var(--default-secondary-color);
}
.intro-img {
    display: flex;
    /* width: 20%; */
    height: 100%;
    justify-content: center;
    align-self: center;
}
.intro-img img {
    width: 50vmin;
    position: absolute;

    top: 50%;
    right: 10%;
    transform: translateY(-50%);

    object-fit: cover;
}
/* .body .container .body{
    display: grid;
    grid-template-areas: "main aside";
    grid-template-columns: 66% 33%;
} */
/*
    *Carousel - main page
*/
div.carousel-news{
    border-bottom: var(--default-border);
}
section.carousel-news{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
}
.carousel-news .carousel-button{
    height: 30px;
    width: 30px;

    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}
.carousel-news-body {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 20px;
}
.carousel-news-body::-webkit-scrollbar {
    display: none;
}
.carousel-news-body a{
    display: block;
    margin-right: 10px;
}
.carousel-news-body a{
    text-decoration: none;
}
.carousel-news-single {
    height: max-content;
    position: relative;
}
.carousel-news-single:hover > .carousel-news-single-over{
    background-color: #000000F2;
}
.carousel-news-single img {
    width: 290px;
    height: 230px;
    object-fit: cover;
}
.carousel-news-single-over {
    height: 30%;
    width: calc(100% - 16px);
    position: absolute;
    padding: 8px;
    
    background-color: #000000B2;
    
    bottom: 5px;
    
    color: white;
    transition: .3s;
}
/*
    *News section
*/
.main-news-section {
    display: flex;
    position: relative;
    align-self: flex-start;
    justify-content: flex-start;
    /* justify-content: space-between; */
    flex-direction: row; 
}
/*
    *Main body
*/
.main-news-body {
    width: 66%;
}
/*
    *Sidebar
*/
.main-news-aside {
    width: 33%;
    padding: 30px 20px;
    position: sticky;
    display: block;
    position: -webkit-sticky;
    top: 0;

    border-left: var(--default-border);
}
.main-news-aside h4{
    font-size: 1.4rem;
}
.main-news-section {
}
/*
    *News-single-item
*/
.news-single {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.news-body {
    padding-right: 1.2rem;
}
.news-author{
    padding-right: 50px;
    margin-bottom: 1rem;
}
.news-author a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.news-author img{
    width: 25px;
    height: 25px;
    margin-right: 10px;

    border-radius: 50%;
    overflow: hidden;

    object-fit: cover;
}
.author-name {
    color: rgba(0,0,0,0.5);
}
.news-text {
}
.news-title {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
.news-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.3rem;

    color: rgba(0,0,0,0.3);
    font-size: 1rem;
}
.news-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-info-items {
    display: inline;
    margin-right: 10px;
}
.news-actions {
    float: right;
}
.save {
    padding: 4px 8px;

    border: none;
    border-radius: 50%;
    background-color: white;

    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}
.save:hover{
    background-color: rgb(233, 233, 233);
}
.news-img{
    width: 200px;
}
.news-img img {
    width: 200px;
    height: 160px;
    object-fit: cover;
}
/*
    *Sidebar-tags
*/
.topics{
    margin-top: 10px;
    margin-bottom: 20px;
}
.topics .topic-tag{
    display: inline-block;
    padding: 5px 16px;
    margin-bottom: 8px;

    border-radius: var(--default-border-radius);
    background-color: rgb(223, 223, 223);

    font-size: 1rem;
}
/*
    *Sidebar-authors
*/
.authors{
    margin-top: 10px;
    margin-bottom: 20px;
}
.authors .author-single{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.authors .author-single h5{
    font-size: 1.1rem;
}
.authors .author-single span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.3rem;

}
.authors .author-single .author-info{
    width: calc(100% - 125px);
}
.authors .author-single img{
    width: 50px;
    height: 50px;
    margin-right: 10px;

    border-radius: 50%;

    object-fit: cover;
}
.authors .author-single button{
    margin-right: 10px;
    padding: 3px 8px;

    border: none;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
}
/*
    *Footer
*/
footer{
    margin-top: 10px;
    
}
footer a{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;

    color: #555;
}







@media(min-width: 1000px){
    
}